{{#module name="the-value"}}

[![npm version](https://img.shields.io/npm/v/the-value.svg)](https://www.npmjs.com/package/the-value)
[![npm downloads](https://img.shields.io/npm/dm/the-value.svg)](https://www.npmjs.com/package/the-value)
[![pipeline status](https://gitlab.com/gregory.verret/the-value/badges/master/pipeline.svg)](https://gitlab.com/gregory.verret/the-value/commits/master)
[![coverage report](https://gitlab.com/gregory.verret/the-value/badges/master/coverage.svg)](https://gitlab.com/gregory.verret/the-value/commits/master)
[![JavaScript Style Guide](https://img.shields.io/badge/code_style-standard-brightgreen.svg)](https://standardjs.com)

# {{ name }}

{{ description }}

## Installation

With npm:

```shell
$ npm install the-value
```

With yarn:

```shell
$ yarn add the-value
```


## Helper function list

{{#children}}
{{#identifier name=name}}
+ {{>sig-link}}
{{/identifier}}
{{/children}}

* * *

{{#children}}
{{#identifier name=name}}

{{>docs}}

{{/identifier}}
{{/children}}

## See also

- The [API documentation](/docs/API.md).
- The [tests documentation](/docs/tests.md).


* * *

&copy; 2019 Jean Gregory Verret <gregory.verret@gmail.com>.

{{/module}}
